.input,
.select,
.textarea {
    border: 1px solid #ccc;
    margin-top: .5rem;
    padding: .6rem 1rem;
    width: 100%;
}
.input,
.select {
    border-radius: 3px;
}

.input:focus {
    outline: 1px solid #1c925d;

}

.input:focus:invalid {
    outline: .8px solid red;
}

.select-sm {
    width: 20%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.textarea {
    resize:none;
    padding: 1rem;
    font-family: 'Roboto Slab', serif;
}

.label {
    color: #656b7b;
    margin-left: 0;
    margin-bottom: 1rem;
}

.isInvalid {
    font-size: .6rem;
    color: red;
}