.top-nav {
    width: 100%;
    background: #fffefe;
    box-shadow: 0px 1rem 2rem 0px rgb(58 57 57 / 0%);
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.3rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
}

.logo-box {
    display: flex;
    align-items: center;
}

.logo-box .logo {
    font-size: .8rem;
    font-family: 'Poppins', sans-serif;
}

/* Icon to show the navbar when the page is displayed on a mobile device */

.sidebar-check-mobile {
    display: block;
    width: 2rem;
    height: 4rem;
    text-align: center;
    margin-right: 1rem;
}

.nav-check-mobile-icon {
    position: relative;
    display: block;
    width: 2rem;
    height: .2rem;
    background: #4a7dff;
    top: 50%;
    left: 50%;
    transition: all .3s ease-out;
    translate: -50% -50%;
}

.nav-check-mobile-icon::after,
.nav-check-mobile-icon::before {
    content: '';
    position: absolute;
    width: 2rem;
    height: .2rem;
    background: #4a7dff;
}

.nav-check-mobile-icon::after {
    left: 0;
    bottom: -.4rem;
    transition: all .3s ease;
}

.nav-check-mobile-icon::before {
    left: 0;
    top: -.4rem;
    transition: all .3s ease;
}

.nav-check-mobile-icon:hover {
    background-color: transparent;
}

.nav-check-mobile-icon:hover::after {
    /* top: 0; */
    background: #656b7b;
    transform: rotate(135deg);
}

.nav-check-mobile-icon:hover::before {
    /* top: 0; */
    background: #656b7b;
    transform: rotate(-135deg);
}

.nav-check-mobile {
    display: none;
}


/* Sidebar */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 15rem;
    background: #fffefe;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.3rem;
    font-family: 'Roboto Slab', serif;
    font-family: 'Poppins', sans-serif;
    box-shadow: 1rem 1px 1rem rgba(0, 0, 0, 0.027);
    transition: all .4s ease;
    z-index: 100;
}

.sidebar.closed {
    transform: translateX(-40rem);
}


.sidebar.closed .logo h1 {
    font-size: 1.5rem;
}

.sidebar .nav-check {
    display: none;
}

.sidebar .nav-check-icon {
    width: 3rem;
    height: 3rem;
    background: black;
    border-radius: 50%;
    font-size: 2rem;
    margin: 0 auto;
}

.sidebar .nav-check-icon:hover {
    background: white;
    border: 2px solid black;
    color: black;
}

.logo {
    text-transform: uppercase;
    color: #4a7dff;
}

.sidebar .user {
    height: 30%;
}

.sidebar .user-img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1rem;
    overflow: hidden;
}

.sidebar .user-img img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.sidebar .nav-list {
    list-style-type: none;
}



.sidebar .nav-list li {
    padding: 1rem .5rem;
    transition: all .5s ease;
    cursor: pointer;
    text-align: left;
}

.sidebar .nav-list li a,
.sidebar .nav-list li a:hover {
    text-decoration: none;
    color: #000000;
    height: 100%;
    width: 100%;
}

.sidebar .nav-list li:hover,
li:has(> .active) {
    background-color: #4a7dff;
    border-radius: 5px;
    transform: scale(.9);
}

li:has(> .active) {
    background-color: #7d9dec;
    color: #fcfcfc;
    background-image: linear-gradient(160deg, #83c9f1da 0%, #80d0c7f0 100%);
}

.sidebar .nav-list li:hover a,
.sidebar .nav-list li:hover:has( > a.active) {
    color: #fcfcfc;
}