.btn {
    display: inline-block;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    padding: 0.7rem 0.8rem;
    transition: all 0.3s;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-left:.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.078);
    outline: none;
}

.btn:disabled {
    cursor: not-allowed;
}

.btn:active {
    transform: translateY(0);
    box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.15);
    outline: none;
}

.btn__rounded {
    border-radius: 1.3rem;
}

.btn__primary,
.btn__primary-rounded {
    background-color: rgb(19, 82, 209);
    color: #fcfcfc;
    width: 10rem;
}

.btn__primary:disabled,
.btn__primary-rounded:disabled {
    background-color: rgb(79, 102, 146);
}

.btn__secondary,
.btn__secondary-rounded {
    border: 1.2px solid #fcfcfc;
    color: #fcfcfc;
    box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.18);
    background-color: transparent;
    padding: 0.8rem 2rem;
}

.btn__cancel {
    background-color: rgb(222, 36, 19);
    color: #fcfcfc;
}

.btn__dark {
    color: white;
    background-color: rgba(0, 0, 0, 0.913);
    width: auto;
}

.btn__action,
.btn__action-rounded {
    width: auto;
    border-radius: 4px;
    background: rgba(28, 146, 93, 0.936);
    color: #fcfcfc;
    margin: .5rem .5rem;
}

.btn__new {
    width: auto;
    border-radius: 4px;
    background: #4a7dff;
    color: #fcfcfc;
    margin: .5rem .5rem;
}

.btn__primary-rounded,
.btn__secondary-rounded,
.btn__action-rounded,
.form__link-rounded {
    border-radius: 1.3rem;
}

.btn__delete {
    width: auto;
    border-radius: 4px;
    background: rgba(180, 34, 56, 0.936);
    color: #fcfcfc;
    margin: .5rem .5rem;
}

.form__link,
.form__link-rounded {
    color: #fcfcfc;
    cursor: pointer;
    display: inline-block;
    transition: all .3s;
}

.form__link:hover,
.form__link-rounded:hover {
    transform: rotate(2deg) scale(1.13);
    background-color: rgba(19, 82, 209, 0.642);
    backface-visibility: hidden;
}