.card {
    background-color: #fcfcfc;
    border-radius: .75rem;
    padding: 1.5rem;
    box-shadow: .3rem .1rem 50rem rgba(0, 0, 0, 0.429);
    margin:auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 80%;
}