.modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    
}

.modal-backdrop {
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.42);
}

.modal-dialog {
    background: white;
    position: absolute;
    width: 50%;
    /* height: 85%; */
    /* height: 80%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .5rem;
}

.modal-dialog.modal-dialog-scrollable {
    background: white;
    position: absolute;
    width: 50%;
    height: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .5rem;
    overflow-y: scroll;
}

@media screen and (max-width: 768px) {
    .modal-dialog,
    .modal-dialog.modal-dialog-scrollable {
        width: 95%;
    }
}

.modal-dialog .modal-header {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    padding: 1.5rem 1rem;
    background-color: rgb(251, 252, 255);
    color: rgb(5, 5, 11);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .23rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.modal-dialog .modal-header h3 {
    margin: 0;
}

.modal-dialog .modal-body {
    padding: 1rem 2rem;
    text-align: left;
}

.modal-dialog .modal-body .modal-content {
    margin-bottom: 1.2rem;
}

.modal-dialog .modal-body .modal-footer {
    text-align: right;
}