


.form {
    background-color: white;
    background-image: linear-gradient(136deg, rgba(19, 82, 209, 0.642) 0 38%, rgba(28, 146, 93, 0.936) 79%), url(./assets/images/photo-1541480601022-2308c0f02487.avif);
    border-radius: .5rem;
    box-shadow: .3rem .1rem 1rem .1rem rgba(218, 214, 214, 0.178);
    padding: 1rem;
    width: 95%;
    min-height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


@media screen and (min-width: 600px) {
    .form {
        width: 60%;
    }
}

.form h2 {
    margin: 1rem;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    font-weight: 700;
    font-weight: bold;
    text-transform: uppercase;
}

