.form__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 25rem;
    box-shadow: 0rem 1.5rem 3rem rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(136deg, rgba(19, 82, 209, 0.642) 0 38%, rgba(28, 146, 93, 0.936) 79%), url(./assets/images/photo-1541480601022-2308c0f02487.avif);
    background-size: cover;
    background-position: center;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 2rem;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.form__signup {
    flex: 1;
    color: #fcfcfc;
    padding-top: 4rem;
    padding-left: 2rem;
}

.heading__primary {
    margin-bottom: 2rem;
}

.form__signup p {
    margin-bottom: 1.5rem;
}

.form__login {
    flex: 2;
    padding-top: 2.5rem;
    padding-left: 5rem;
    text-align: left;
}

.form__login h2 {
    color: #ffffff;
    margin-left: .5rem;
}

.form__login input:nth-child(1) {
    margin-top: 1rem;
}

.form__login Button:first-child {
    display: none;
}

.form__login Button {
    margin: 8px;
}

@media (max-width:980px) {
    .form__container {
        width: 80%;
        height: auto;
        background-image: linear-gradient(130deg, rgba(19, 82, 209, 0.895) 0 0%, rgba(28, 146, 93, 0.936) 70%), url(./assets/images/photo-1541480601022-2308c0f02487.avif);
        background-size: cover;
        background-position: center;
        border-radius: 4px;
    }

    .form {
        flex-direction: column;
    }

    .form__signup {
        display: none;
    }

    .form__login {
        width: 100%;
        padding: 2rem 1rem 0;
    }

    .form__login Button {
        width: 45%;
        padding: .8rem 0;
        font-size: .99rem;
        margin: 8px;
    }

    .form__login Button:first-child {
        display: inline-block;
    }

    .form__login:last-child {
        text-align: center;
    }
}